<!doctype html>
<html>
	<head>
		<title>Flyberry Overview</title>
		<meta charset="utf-8">
		<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
		<script src="chart.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<style type="text/css">
		body {
			padding: 10px;
		}

		.live_image {
			width: 100%;
		}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="col-lg-3">
				<h1 class="text-center">Current values</h1>
				<table class="table table-temperature">
					<thead>
						<tr>
							<th>Temperature</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Hello</td>
						</tr>
					</tbody>
				</table>

				<table class="table table-height">
					<thead>
						<tr>
							<th>Height</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Hello</td>
						</tr>
					</tbody>
				</table>

				<table class="table table-air-pressure">
					<thead>
						<tr>
							<th>Air pressure</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Hello</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-lg-9">
				<h1 class="text-center">Flyberry Stats</h1>

				<div class="col-lg-6">
					<h4 class="text-center">Temperature on Timeline</h4>
					<canvas id="time_temp_chart"></canvas>
				</div>
				<div class="col-lg-6">
					<h4 class="text-center">Air pressure on Timeline</h4>
					<canvas id="time_air_pressure_chart"></canvas>
				</div>
				<div class="col-lg-6">
					<h4 class="text-center">Height on Temperature</h4>
					<canvas id="temp_height_chart"></canvas>
				</div>
				<div class="col-lg-6">
					<h4 class="text-center">Air pressure on Height</h4>
					<canvas id="height_air_pressure_chart"></canvas>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			Chart.defaults.global = {
			    // Boolean - Whether to animate the chart
			    animation: false,

			    // Number - Number of animation steps
			    animationSteps: 60,

			    // String - Animation easing effect
			    animationEasing: "easeOutQuart",

			    // Boolean - If we should show the scale at all
			    showScale: true,

			    // Boolean - If we want to override with a hard coded scale
			    scaleOverride: false,

			    // ** Required if scaleOverride is true **
			    // Number - The number of steps in a hard coded scale
			    scaleSteps: null,
			    // Number - The value jump in the hard coded scale
			    scaleStepWidth: null,
			    // Number - The scale starting value
			    scaleStartValue: null,

			    // String - Colour of the scale line
			    scaleLineColor: "rgba(0,0,0,.1)",

			    // Number - Pixel width of the scale line
			    scaleLineWidth: 1,

			    // Boolean - Whether to show labels on the scale
			    scaleShowLabels: true,

			    // Interpolated JS string - can access value
			    scaleLabel: "<%=value%>",

			    // Boolean - Whether the scale should stick to integers, not floats even if drawing space is there
			    scaleIntegersOnly: true,

			    // Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
			    scaleBeginAtZero: false,

			    // String - Scale label font declaration for the scale label
			    scaleFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",

			    // Number - Scale label font size in pixels
			    scaleFontSize: 12,

			    // String - Scale label font weight style
			    scaleFontStyle: "normal",

			    // String - Scale label font colour
			    scaleFontColor: "#666",

			    // Boolean - whether or not the chart should be responsive and resize when the browser does.
			    responsive: true,

			    // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
			    maintainAspectRatio: true,

			    // Boolean - Determines whether to draw tooltips on the canvas or not
			    showTooltips: true,

			    // Function - Determines whether to execute the customTooltips function instead of drawing the built in tooltips (See [Advanced - External Tooltips](#advanced-usage-custom-tooltips))
			    customTooltips: false,

			    // Array - Array of string names to attach tooltip events
			    tooltipEvents: ["mousemove", "touchstart", "touchmove"],

			    // String - Tooltip background colour
			    tooltipFillColor: "rgba(0,0,0,0.8)",

			    // String - Tooltip label font declaration for the scale label
			    tooltipFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",

			    // Number - Tooltip label font size in pixels
			    tooltipFontSize: 14,

			    // String - Tooltip font weight style
			    tooltipFontStyle: "normal",

			    // String - Tooltip label font colour
			    tooltipFontColor: "#fff",

			    // String - Tooltip title font declaration for the scale label
			    tooltipTitleFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",

			    // Number - Tooltip title font size in pixels
			    tooltipTitleFontSize: 14,

			    // String - Tooltip title font weight style
			    tooltipTitleFontStyle: "bold",

			    // String - Tooltip title font colour
			    tooltipTitleFontColor: "#fff",

			    // Number - pixel width of padding around tooltip text
			    tooltipYPadding: 6,

			    // Number - pixel width of padding around tooltip text
			    tooltipXPadding: 6,

			    // Number - Size of the caret on the tooltip
			    tooltipCaretSize: 8,

			    // Number - Pixel radius of the tooltip border
			    tooltipCornerRadius: 6,

			    // Number - Pixel offset from point x to tooltip edge
			    tooltipXOffset: 10,

			    // String - Template string for single tooltips
			    tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %>",

			    // String - Template string for single tooltips
			    multiTooltipTemplate: "<%= value %>",

			    // Function - Will fire on animation progression.
			    onAnimationProgress: function(){},

			    // Function - Will fire on animation completion.
			    onAnimationComplete: function(){}
			}

			function genChart(d_time_temp, d_temp_height, d_height_air_pressure, d_time_air_pressure) {
				time_temp_chart = new Chart(time_temp_c).Line(d_time_temp);
				temp_height_chart = new Chart(temp_height_c).Line(d_temp_height);
				height_air_pressure_chart = new Chart(height_air_pressure_c).Line(d_height_air_pressure);
				time_air_pressure_chart = new Chart(time_air_pressure_c).Line(d_time_air_pressure);
			}

			function getChart() {
				$.ajax({
					url: "getdata.php",
					success: function(html) {
						var result = html.split(";");

						var d_time_temp = {
							labels: JSON.parse(result[1]),
							datasets: [
								{
									label: "Temperature",
									fillColor: "rgba(220,220,220,0.2)",
									strokeColor: "rgba(220,220,220,1)",
									pointColor: "rgba(220,220,220,1)",
									pointStrokeColor: "#fff",
									pointHighlightFill: "#fff",
									pointHighlightStroke: "rgba(220,220,220,1)",
									data: JSON.parse(result[0])
								}
							]
						};

						var d_time_air_pressure = {
							labels: JSON.parse(result[1]),
							datasets: [
								{
									label: "Temperature",
									fillColor: "rgba(220,220,220,0.2)",
									strokeColor: "rgba(220,220,220,1)",
									pointColor: "rgba(220,220,220,1)",
									pointStrokeColor: "#fff",
									pointHighlightFill: "#fff",
									pointHighlightStroke: "rgba(220,220,220,1)",
									data: JSON.parse(result[3])
								}
							]
						};

						var d_temp_height = {
							labels: JSON.parse(result[0]),
							datasets: [
								{
									label: "Temperature and hight",
									fillColor: "rgba(220,220,220,0.2)",
									strokeColor: "rgba(220,220,220,1)",
									pointColor: "rgba(220,220,220,1)",
									pointStrokeColor: "#fff",
									pointHighlightFill: "#fff",
									pointHighlightStroke: "rgba(220,220,220,1)",
									data: JSON.parse(result[2])
								}
							]
						};

						var d_height_air_pressure = {
							labels: JSON.parse(result[2]),
							datasets: [
								{
									label: "Temperature and hight",
									fillColor: "rgba(220,220,220,0.2)",
									strokeColor: "rgba(220,220,220,1)",
									pointColor: "rgba(220,220,220,1)",
									pointStrokeColor: "#fff",
									pointHighlightFill: "#fff",
									pointHighlightStroke: "rgba(220,220,220,1)",
									data: JSON.parse(result[3])
								}
							]
						};

						time_temp_chart = null;
						temp_height_chart = null;
						height_air_pressure_chart = null;

						genChart(d_time_temp, d_temp_height, d_height_air_pressure, d_time_air_pressure);
					}
				});
			}

			var time_temp_c = $("#time_temp_chart").get(0).getContext("2d");
			var time_air_pressure_c = $("#time_air_pressure_chart").get(0).getContext("2d");
			var temp_height_c = $("#temp_height_chart").get(0).getContext("2d");
			var height_air_pressure_c = $("#height_air_pressure_chart").get(0).getContext("2d");

			/* Get chart immediately */
			getChart();
			setInterval(getChart, 5000);
		</script>
	</body>
</html>